@font-face {
    font-family: "ManropeThin";
    src: url("/resources/fonts/ManropeThin/ManropeThin.ttf");
}

.icon-plus {
    background-position: -408px -96px;
    color: #ffffff;
    text-align: center !important;
    padding-top: 10px;

}
.icon-minus{
    background-position:-433px -96px;
    color: #ffffff;
    font-size: 40px;
    text-align: center !important;
    padding-top: 10px;
    font-size: 40px;
}

.blue{
    border-radius: 7px 0 0 7px;
    background-color: #1A3CA3;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 40px;
    font-style: normal;
    display: inline-block;
    width: 25px;
    height: 40px;
    margin-top: 10px;
    line-height: 14px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

.zoom_btn {
    display: inline-block;
    padding: 4px 8px ;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #1A3CA3;
}

.customControl {
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    padding: 5px;
    max-height: 250px;
    overflow: auto;
}

a, a:visited {
    color: #04b;
    text-decoration: none !important;
}

.my-button {
    display: inline-block;
    padding: 3px 5px;
    background: #1A3CA3;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.my-button__text, .my-LK-button__text {
    font-family: ManropeThin;
    font-size: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.my-button-selected {
    color: #333333;
    background-color: #e6e6e6;
    border: 2px dashed #333;
}


.smallMap {
    width: 69% !important;
    height: 825px !important;

}

#map {
    float:right;
    width: 100%;
    transition: 0.3s;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#ccc;
    overflow:hidden;
    z-index: 200;
}

.ymaps-2-1-79-searchbox-button {
    background-color: #1A3CA3 !important;
    color: white !important;
    font-family: ManropeThin !important;
    font-size: 20px !important;
}




.coordsGreen{
    border: 3px solid #258806 !important;
    background-color: rgba(73, 214, 85, 0.315) !important;
}

.coordsRed{
    border: 3px solid #880606;
    background-color: rgba(214, 89, 73, 0.219);
}

.kek1 {
    border-radius: 7px !important;
    padding-left: 15px;
    padding-right: 15px;

}

#discrD{
    border-radius: 7px;
    background-color: #FFFFFF;
    color: #1A3CA3;
    width: auto;
    height: 80px;
    margin: 10px;
    padding: 5px;
    overflow-y: scroll;
}

.one_comment{
    border-radius: 7px;
    background-color: #FFFFFF;
    color: #1A3CA3;
    width: auto;
    margin: 10px;
    padding: 5px 15px;
    overflow-y: scroll;
}

#commentName{
    width:fit-content;
    display: inline-block;
}

#commentRate{
    float: right;
}

.comment_text{
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.comment_text__small{
    white-space: nowrap; /* Запрещаем перенос строк */
}

.comment_text__normal{
    white-space: normal; /* Запрещаем перенос строк */
}
.comment_link{
    float: right;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.comment_link:hover{
    color: #1A3CA3;
    text-shadow: 0 7px 30px rgba(26, 60, 163, .7);
}

.show_bar {
    visibility: visible;
    position: absolute;
    left: 0;
    transition: 300ms;
    /* opacity: 1;

    transition: .3s opacity, .3s visibility; */
}

.insidebar {
    position: relative;
    margin: 30px auto;
    width: 450px;
    color: white;
    font-family: ManropeThin;
    font-size: 24px;
}

#sidebar, #commentBar{
    z-index: 1;
    width: 30%;
    background-color: white;
    border: 2px solid #1A3CA3;
    height: 821px;
    padding-right: 11px;
    overflow-y: scroll;
    /*overflow: hidden;*/
}

#point_form{
    width: 450px;
}

.hide_bar {
    position: absolute;
    left: -30%;
    transition: 300ms;
    opacity: 1;
    visibility: hidden;
}


.modal {
    font-family: "ManropeThin";
    color: #1A3CA3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 420px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    height: auto;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal .btn {
    display: block;
    width: 280px;
    margin: 0 auto
}

.btn {
    font-family: "ManropeThin";
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #1A3CA3;
    border-radius: 7px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s all;
    outline: 0;

    background-color: #C4C4C4;
    color:#1A3CA3;
}

.btn_min {
    height: 50px
}

.btn:hover {
    box-shadow: 0 7px 30px rgba(26, 60, 163, .7)
}

.hide {
    display: none
    !important;
}

.show {
    display: block;
}

.comment_table{
    display: block;
    width: 420px;
}

.nt_username{
    width: 50%;
}

.comment_table_d {
    display: inline-block;
    height: 33px;
    width: 400px;
    padding: 10px;
    border-radius: 7px !important;
    margin-bottom: 10px;
}

.form_table_row input{
    border: 2px solid #1A3CA3;
    border-radius: 7px;
    height: 27px;
    font-family: ManropeThin;
    color:#1A3CA3;
}

.comment_area:focus, input:focus{
    box-shadow: 0 3px 30px rgba(26, 60, 163, .5);
    outline: 0;
    outline-offset: 0;
}

.comment_table_d:last-of-type{
    height: auto;
}
.rate3{
    display:inline;
}
.comment_rate{
    margin-left: 170px;
    display: inline;
    width: 30px;
}


.comment_table_row {
    font-size: 24px;
    background-color: #C4C4C4;;
    width: 420px;
}

.comment_area {
    width: 390px;
    height: 83px;
    border: 2px solid #1A3CA3;
    border-radius: 7px;
    outline: 0;
    padding: 5px;
    font-family: 'ManropeThin';
    font-size: 18px;
    color: #1A3CA3;
}

.comment_form {
    width: 420px !important;
}

.form_table {
    background-color: white;
    width: 450px;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'ManropeThin';
    margin-top: 10px;
}

.form_table_row{
    position: relative;
    padding: 5px;
    height: auto;
    border-radius: 7px;
    background-color: #C4C4C4;
    font-size: 24px;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.name_input{
    height: 24px;
    width: 100%;
    margin-left: 40px
}

.rate {
    margin-right: 5px;
    float: left;
    height: 24px;
    width: 35px;
    display: inline;
}

#comment_discr{
    display: block ;
}

#comment_com{
    display: block;
}
#input_mark{
    margin-top:2px;
}

#kek_type{
    position: absolute;
    left: 15px;
    vertical-align: middle;
}

#kek_input_mark{
    justify-content:center;
}

.kek {
    white-space: nowrap;
}

.discr{
    float: right;
    color: #1A3CA3;
    border-radius: 7px;
    background-color: white;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    margin-right: 10%;
}

.preview-image{
    width: 183px;
    height: 183px;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px;
    border: 2px solid #1A3CA3;
}

.preview-remove{
    opacity: 0;
    width:20px;
    height:20px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background: rgba(19, 57, 184, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .22s;
    border-top-right-radius: 7px;
}

.preview-image:hover .preview-remove{
    opacity: 1;
}

.preview-image:hover .preview-info{
    bottom: 0px;
}

.preview-image:hover .preview{
    box-shadow: 0 3px 30px rgba(26, 60, 163, .5);
}

.preview-info{
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    height: 26px;
    vertical-align: top;
    font-size: 0.6rem;
    font-weight: bold;
    background: rgba(19, 57, 184, 0.466);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: bottom .22s;
}

.preview-info span{
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.insideinput{
    background-image: url(../images/photo.png);
    background-position: center;
    background-size:100px;
    background-repeat: no-repeat;
    width: 188px;
    height: 188px;
    background-color: #C4C4C4;
    border-radius: 7px;
    transition: box-shadow 0.2s;
    overflow: hidden;
}

.preview{
    overflow: hidden;
    /* border-radius: 7px; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 188px;
    height: 188px;
}

.insideinput:hover{
    cursor: pointer;
    box-shadow: 0 7px 30px rgba(26, 60, 163, .7);
    transition: box-shadow 0.2s;
}

#image{
    display:none;
}

.button_layout{
    font-family: "ManropeThin";
    font-size: 20px;
    left: 0;
    right: 0;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 1.4rem;
    color: white;
    border-radius: 7px;
}

.favorite_btn:hover{
    color:yellow;
    cursor: pointer;
}

.favorite_btn1{
    color:yellow !important;
    cursor: pointer;
}

.favorite_btn1:hover{
    color:red !important;
    text-shadow: 0 7px 30px rgba(26, 60, 163, .7);
}

.claim_btn{
    cursor: pointer;
    text-decoration: underline;
}

.claim_btn:hover{
    color: #1A3CA3;
    text-shadow: 0 7px 30px rgba(26, 60, 163, .7);
}

.preview-image img{
    width:180px;
    height: 180px;
}

textarea{
    font-family: "ManropeThin";
    font-size: 20px;
    color:#1A3CA3;
    outline: none;
    border-radius: 7px;
    margin: 5px;
    resize:none;
}

textarea:focus{
    box-shadow: 0 7px 30px rgba(26, 60, 163, .5)
}

#add_comment_row{
    display: block;
}
.discription{
    width: 96%;
}

.boxrow{
    display: block !important;
}
.busy_block{
    position: absolute;
    right: 0;
    top: 140px;
    border-radius: 3px;
    border: 1px solid red;
    float: right;
    margin-right: 60px;
    color: red;
    font-size: 24px;
}

.insidebar_close, .commentbar_close{
    color: #1A3CA3;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.insidebar_close:hover, commentbar_close:hover{
    text-shadow: 2px 2px 20px rgba(26, 60, 163, .5);
}

.ymaps-2-1-79-float-button{
    font-family: "ManropeThin" !important;
    color: white !important;
    background-color: #1A3CA3 !important;
}
.ymaps-2-1-79-float-button-text{
    font-size: 20px !important;
}

.run_button_div{
    color: #c922bb;
    padding: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #c922bb;
    position: absolute;
    right: 10px;
    top: 70px;
    cursor: pointer;
}